/*Background*/
.background {
    background-color: #88A5C9;
    font-family: 'Montserrat', sans-serif;
    height: 89vh;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.record{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0px 0px 10px 0px #000000;
    height: auto;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.option-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
/*Estilos del filtrador*/
.content {
    margin-top: 20px;
  }
  
  .paginator-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: 3fr 1fr;
  }

  
  
  button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px; 
  }

  button span {
    font-weight: bold;
    height: 40px;

  }
  
  button[disabled] {
    cursor: not-allowed;
    color: #bdc3c7;
  }
  
  .page-info {
    margin: 0 16px;
    font-size: 14px;
  }
  
  span {
    margin-right: 0;
  }
  
  input {
    width: 100%;
    padding: 5px 10px 5px 5px;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    outline: none;
    border-radius: 5px;
    border-color: #383838;
  }
  select {
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #383838;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}
  i{
    font-size: 25px;
    cursor: pointer;
  }
.info{
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 7%;
    gap: 20px;
}
.filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
/*Lista de usuarios*/
.audit-list {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 7%;
    gap: 20px;
    
}
.audit{
    display: flex;
    align-items: center;
    border: 2px solid #CBCBCB;
    border-radius: 5px;
    padding: 1px 10px;
    border-color: #CBCBCB;
}
h4 {
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
}
/*Boton*/
.button {
    background-color: #489CE9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
  }
  
  .button:hover {
    background-color: #56adff;
  }

  /*-----------------------------------------------------------------------------------------------------*/
/*Modal de crear cliente*/
 /* Estilo para el fondo oscuro */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  /* Estilo para centrar el cuadro de diálogo */
  .custom-confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1% 2%;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 60%;
    width: 30%;

  }
  .custom-confirm-dialog-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1% 2%;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 30%;

  }
  .column{
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .select-company{
    border: 0;
    margin-left: 30px;
  }
  
  /* Estilo para botones */
  .custom-confirm-dialog button {
    margin-right: 10px;
  }
  .dialog-actions{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .div-trash {
    height: 50px;
    width: 50px;
    border: none;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    text-transform: capitalize;
    position: relative;
    color: #FF0000;
    background-color: #FFDBDB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trash-1{
    width: 30px;
  }
  h3{
    font-family: 'Roboto', sans-serif;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  h6{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p{
    font-size: 14px;
    font-weight: 200;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
  }
  hr{
    margin-top: 10px;
  }
  /*Estilos botones popup*/
  .Aceptar{
    border-radius: 10px;
    color: white;
    background-color: #88A5C9;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;

  }
  .Cancelar{
    border-radius: 10px;
    color: white;
    background-color: #FF4343;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  .input-container i{
    margin-top: 2px;
    size: 22px;
  }
/*Inputs-transiciones*/
.input-container {
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #CBCBCB;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 7px;

  }
  
  .input-container input {
    padding-left: 40px;
    border: none;
    outline: none;
    width: 300px;
    font-size: 18px; 
    color:#000000;
    width: 80%;
  }
  
  .input-container .icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 18px; 
    transition: background-color 0.3s ease;
  }
  .input-container:focus-within {
    border-color: #16428B; /* Cambiar color de borde cuando hay foco en algún elemento hijo */
  }
  
  .input-container input:focus + .icon {
    color: #16428B;
  }
/*Mensaje de error*/
.error-message {
    color: #ff0000;
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0 0 0;
    display: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.error-message.show {
    display: block;
}
/*Popup de confirmación/error*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.success {
  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.confirmation-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.confirmation-content i {
  font-size: 60px;
  margin-top: 10px;
}
.confirmation-content p {
  font-size: 20px;
  font-weight: 500;
  color: #003531;
}
.confirmation-content button {
  width: 100px;
  margin-top: 10px;
}