<app-navbar></app-navbar>
<div class="background">
    <div id="contenidoPDF" class="report">
        <img class="logo" src="../../../assets/icons/Logo-PwnCrack.jpg" width="180px" />
        <div class="center">
            <h2>REPORTE PARCIAL</h2>
        </div>
        <h2>Datos generales</h2>
        <div class="datos">
            <div class="info">
                Total de hashes procesados
            </div>
            <div class="info">
                Porcentaje de credenciales obtenidas
            </div>
            <div class="dato">
                {{hashes}}
            </div>
            <div class="dato">
                {{proportionHash}}%
            </div>
            <div class="info">
                Hashes que fueron crackeados
            </div>
            <div class="info">
                Hashes no crackeados
            </div>
            <div class="dato">
                {{hashesCracked}}
            </div>
            <div class="dato">
                {{hashesNoCracked}}
            </div>
        </div>

        <div class="button-column">
            <div>
                <button class="button" (click)="Download()">Descargar crackeados</button>
            </div>
            <div>
                <button class="button" (click)="exportPDF()">Descargar reporte</button>
            </div>
            <div>
                
            </div>
        </div>

        <h2>Grafico estadistico</h2>

        <div class="column">
            <div>

            </div>
            <div>
                
            </div>
            <div>
                
            </div>
            <div>
                
            </div>
            <div class="center"  >
                <canvas id="doughnutChartCanvas" style="width: 500px; height: 500px; "></canvas>
            </div>
            <div>
                
            </div>
            <div>
                
            </div>
            <div class="center">
                <canvas id="barChartCanvas" style="width: 150px; height: 75px; "></canvas>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>