/*Background*/
.background {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    height: auto;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.report{
    margin: 2%;
}
.header {
    margin-top: 10px;
    margin-left: 3%;
}
  
.datos {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
  }
.info{
    background-color: #16428B;
    color: #ffffff;
    border: 1px solid #16428B;
    padding: 1%;

}
.dato{
    background-color: #ffffff;
    color: black;
    border: 1px solid #757575;
    padding: 1%;
    font-weight: 700;
}
.button-column {
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20%;
}
.column {
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    grid-template-columns: 1fr 3fr 1fr;
  }

.table {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    grid-template-columns: 30% 20% 20% 30%;
  }
/*Boton*/
.button {
    background-color: #489CE9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
  }
  
  .button:hover {
    background-color: #56adff;
  }
  /*Estilos popup*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  /* Estilo para centrar el cuadro de diálogo */
  .custom-confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1% 2%;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 30%;

  }
  .input-container i{
    margin-top: 2px;
    size: 22px;
  }
  h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  h6{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }
/*Inputs-transiciones*/
.input-container {
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #CBCBCB;
    border-radius: 10px;
    padding-left: 7px;
  }
  
  .input-container input {
    padding-left: 40px;
    border: none;
    outline: none;
    width: 300px;
    font-size: 18px; 
    color:#000000
  }
  
  .input-container .icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 18px; 
    transition: background-color 0.3s ease;
  }

  .input-container:focus-within {
    border-color: #16428B; /* Cambiar color de borde cuando hay foco en algún elemento hijo */
  }
  
  .input-container input:focus + .icon {
    color: #16428B;
  }
  .dialog-actions{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /*Estilos botones popup*/
  .Aceptar{
    border-radius: 10px;
    color: white;
    background-color: #88A5C9;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;

  }
  .Cancelar{
    border-radius: 10px;
    color: white;
    background-color: #FF4343;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;
  }
  /*Mensaje de error*/
.error-message {
    color: #ff0000;
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0 0 0;
    display: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.error-message.show {
    display: block;
}
.chapterContent {
  font-size: 18px;
  border: #bac1d8 1px solid;
  border-radius: 10px;
  outline: none;
  width: 98%;
  margin-bottom: 25px;
  padding: 10px 20px;
}