<app-navbar></app-navbar>
<div class="background center">
    <div class="record">
        <div class="options-list">
            <div class="paginacion">
                <!-- Filtros de la tabla -->
                <div class="paginator-container">
                    <div class="filter">
                        <h3>Registros por página</h3>
                        <select [(ngModel)]="inputValue2" name="size" (ngModelChange)="onInputChange()">
                            <option value="5" selected hidden>5</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                        </select>   
                        <div class="page-info">
                            <h3>{{ inicio }} - {{ fin }} de {{total}}</h3>
                        </div>
                        <button (click)="onPageChange(paginaActual - 1)" [disabled]="paginaActual === 1">
                            <span>&lt;</span>
                        </button>
                        <button (click)="onPageChange(paginaActual + 1)" [disabled]="paginaActual * inputValue2 >= users.length">
                            <span>&gt;</span>
                        </button>
                    </div>
                    <button class="button" (click)="newRecord()">Agregar colaborador</button>
                </div>
            </div>
            <!-- Cabezera de la tabla -->
            <div class="info">
                <h3>Nombre</h3>
                <h3>Apellido</h3>
                <h3>Email</h3>
                <h3>Rol</h3>
            </div>
            <!-- Lista de auditorias -->
            <div *ngFor="let user of usersFilter">
                <div class="audit-list">
                    <div class="audit">
                        <h4>{{user.name}}</h4>
                    </div>
                    <div class="audit">
                        <h4>{{user.lastName}}</h4>
                    </div>
                    <div class="audit">
                        <h4>{{user.email}}</h4>
                    </div>
                    <div class="audit">
                        <h4>{{user.role}}</h4>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-pen edit-button" style="color: #6988F5;" (click)="editCollaborator(user.employeeId)"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h3>{{total}} Colaboradores</h3> 
        </div>
    </div>
    <!--Cargando-->
    <div class="popup center" *ngIf="loadingPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content" style="margin-bottom: 20px;">
                    <i class="fas fa-spinner fa-spin" style="color: #16428B;"></i>
                </div>
                <div class="confirmation-content"><p>Procesando datos, por favor espere</p></div>
            </div>
        </div>
    </div>          
    <!--Mensaje de que todo salio bien y empleado fue registrado correctamente-->
    <div class="popup center" *ngIf="confirmationPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-check" style="color: #30ff24;"></i></div>
                <div class="confirmation-content"><p>El empleado fue registrado correctamente</p></div>
                <div class="confirmation-content"><button (click)="confirmationPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que algo salio mal al momento de registrar al empleado-->
    <div class="popup center" *ngIf="errorPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, el empleado no pudo<br>ser registrado, correo ya existente</p></div>
                <div class="confirmation-content"><button (click)="errorPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>    
</div>

<!-- Popup Agregar colaborador-->
<div class="overlay" *ngIf="isDialogVisible"></div> <!-- Fondo oscuro -->
<div class="custom-confirm-dialog" *ngIf="isDialogVisible">
    <div class="dialog-content">
        <h5>Nueva colaborador</h5>
        <hr>
        <h6>Información</h6>
        <div class="column">
            <div>
                <h6>Nombre</h6>
                <div class="input-container">
                    <input type="text" placeholder="Ingresa nombre" id="name" [(ngModel)]="name">
                    <i class="fas fa-user icon" id="icon"></i>
                </div> 
            </div>
            <div>
                <h6>Apellido</h6> 
                <div class="input-container">
                    <input type="text" placeholder="Ingrese apellido" id="lastName" [(ngModel)]="lastName">
                    <i class="fas fa-user icon" id="icon"></i>
                </div>
            </div>
            <div>
                <h6>Número de contacto</h6>
                <div class="input-container">
                    <input type="text" placeholder="Ingresa telefono" id="phone" [(ngModel)]="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <i class="fa-solid fa-phone icon" id="icon"></i>
                </div> 
            </div>
            <div>
                <h6>Email</h6> 
                <div class="input-container">
                    <input type="text" placeholder="Ingresa correo electronico" id="email" [(ngModel)]="email">
                    <i class="fa-solid fa-envelope icon" id="icon"></i>
                </div>
            </div>            
        </div>
        <hr>
        <h6>Rol</h6> 
        <div class="input-container">
            <select class="select-company" [(ngModel)]="role" name="size" (ngModelChange)="onInputChange()">
                <option value="ADMINISTRADOR" selected hidden>ADMINISTRADOR</option>
                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                <option value="CONSULTOR">CONSULTOR</option>
            </select>   
            <i class="fas fa-user icon" id="icon"></i>
        </div>  
        <h6>Contraseña</h6> 
        <div class="input-container">
            <input type="text" placeholder="Contraseña de usuario" id="password" [(ngModel)]="password">
            <i class="fa-solid fa-lock icon" id="icon"></i>
        </div>             
    </div>
    <div #errorMessage class="error-message">Por favor llene todos los campos.</div>                    
    <div class="dialog-actions">
        <button (click)="confirm()" class="Aceptar">Crear</button>
        <button (click)="cancel()" class="Cancelar">Cancelar</button>
    </div>
</div>
<!-- Popup editar colaborador-->
<div class="overlay" *ngIf="editDialogVisible"></div> <!-- Fondo oscuro -->
<div class="custom-confirm-dialog" *ngIf="editDialogVisible">
    <div class="dialog-content">
        <h5>Editar colaborador</h5>
        <hr>
        <h6>Información</h6>
        <div class="column">
            <div>
                <h6>Nombre</h6>
                <div class="input-container">
                    <input type="text" placeholder="Ingresa nombre" id="editName" [(ngModel)]="editName" disabled>
                    <i class="fas fa-user icon" id="icon"></i>
                </div> 
            </div>
            <div>
                <h6>Apellido</h6> 
                <div class="input-container">
                    <input type="text" placeholder="Ingrese apellido" id="lastName" [(ngModel)]="editLastName" disabled>
                    <i class="fas fa-user icon" id="icon"></i>
                </div>
            </div>
            <div>
                <h6>Número de contacto</h6>
                <div class="input-container">
                    <input type="text" placeholder="Ingresa telefono" id="phone" [(ngModel)]="editPhone">
                    <i class="fa-solid fa-phone icon" id="icon"></i>
                </div> 
            </div>
            <div>
                <h6>Email</h6> 
                <div class="input-container">
                    <input type="text" placeholder="Ingresa correo electronico" id="email" [(ngModel)]="editEmail" disabled>
                    <i class="fa-solid fa-envelope icon" id="icon"></i>
                </div>
            </div>            
        </div>
        <hr>
        <h6>Rol</h6> 
        <div class="input-container">
            <select class="select-company" [(ngModel)]="editRole" name="role" (ngModelChange)="onInputChange()">
                <option [value]="''" disabled hidden>Seleccionar Rol</option>
                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                <option value="CONSULTOR">CONSULTOR</option>
            </select>
            <i class="fas fa-user icon" id="icon"></i>
        </div>  
        <h6>Contraseña</h6> 
        <div class="input-container">
            <input type="text" placeholder="Contraseña de usuario" id="password" [(ngModel)]="editPassword">
            <i class="fa-solid fa-lock icon" id="icon"></i>
        </div>
    </div>
    <div #errorMessage class="error-message">Por favor llene todos los campos.</div>
    <div class="dialog-actions">
        <button (click)="confirmEdit()" class="Aceptar">Editar</button>
        <button (click)="cancelEdit()" class="Cancelar">Cancelar</button>
    </div>
</div>


