*{
    margin:0;
    padding:0;
  }
/*Navbar*/
.navbar {
    display: flex;
    background-color: #16428B;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.logout {
    margin-left: auto;
    display: flex;
}

/*Logo*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*Opciones izquierda*/
a {
    padding: 10px 20px 10px 20px;
    margin: 0;
    margin-left: 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #21509c;
    border-radius: 3px;
}
i{
    margin-right: 10px;
    font-size: 40px;
}
/* Estilos para el menú desplegable */
.dropdown {
    display: block; /* Ocultar inicialmente */
    position: absolute;
    background-color: #001f3f; /* Fondo azul marino */
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra */
    z-index: 1;
    top: calc(8% + 5px);
    left: 35%;
    border-radius: 5%;

  }
.dropdown2 {
    display: block; /* Ocultar inicialmente */
    position: absolute;
    background-color: #001f3f; /* Fondo azul marino */
    min-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra */
    z-index: 1;
    top: calc(8% + 5px);
    left: 86%;
    border-radius: 5%;

  }  
  
  .dropdown a {
    color: #757575; /* Texto blanco */
    background-color: #fff;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
    margin: 7px;
    border-radius: 10px;
    font-size: 16px;
  }
  .dropdown2 a {
    color: #757575; /* Texto blanco */
    background-color: #fff;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
    margin: 7px;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .dropdown a:hover {
    background-color: #dde9f5; /* Azul oscuro al pasar el mouse */
  }
  .dropdown2 a:hover {
    background-color: #dde9f5; /* Azul oscuro al pasar el mouse */
  }
  
  /* Mostrar el menú desplegable cuando el enlace está activo */
  .navbar .dropdown.active {
    display: block;
  }
  .navbar .dropdown2.active {
    display: block;
  }
/*===================================================*/
/*Estilos del popup*/
  
  /* Estilo para centrar el cuadro de diálogo */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  .custom-confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1% 2%;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 30%;

  }
  /* Estilo para botones */
  .custom-confirm-dialog button {
    margin-right: 10px;
  }
  .dialog-actions{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  h6{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  hr{
    margin-top: 3px;
  }
  /*Estilos botones popup*/
  /* Estilo para el fondo oscuro */
  .Aceptar{
    border-radius: 10px;
    color: white;
    background-color: #88A5C9;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;

  }
  .Cancelar{
    border-radius: 10px;
    color: white;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    margin: 0;
  }  